.btn-more {
padding: 14px 28px;

max-width: 124px;
height: 46px;

border: 2px solid var(--purple-color);
border-radius: 40px;

white-space: nowrap;

font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.29;

letter-spacing: -0.01em;
text-transform: uppercase;

color: var(--black-color);
background-color: var(--white-color);

}


